my_checkpoint.pth.tar
my_checkpoint_6_layers_all.pth.tar
*.pth.tar

models_DL_deployed/**

__pycache__/:
dataset.cpython-38.pyc
models.cpython-38.pyc
settings.cpython-38.pyc
utils.cpython-38.pyc

saved_masks/:
pdb_done.dat
pred_0.npz
pred_1.npz
pred_2.npz
pred_3.npz
pred_4.npz
pred_5.npz
pred_6.npz
protein_0.npz
protein_1.npz
protein_2.npz
protein_3.npz
protein_4.npz
protein_5.npz
protein_6.npz
real_0.npz
real_1.npz
real_2.npz
real_3.npz
real_4.npz
real_5.npz
real_6.npz

saved_masks/**

models_DL/**


Reports/**

tests/**

temp_files/**

.spyproject/**
